/* ANCHOR reset tags */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--banner-blue: #b9d9e0;
	--banner-hover-blue: #91b9c4;
	--background-white: #f7ede2;
	--button-pink: #f4acb7;
	--button-hover-pink: #ce9099;
	--text-black: #292525;
	--footer-blue: #161a1d;
}

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
	color: var(--text-black);
}

body {
	background-color: var(--background-white);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background: none;
	font-family: inherit;
}

footer {
	min-height: 7rem;
}

/* ANCHOR main navigation */

#main-nav {
	background: var(--banner-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	height: 4.5rem;
	box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
}

#nav-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
}

#nav-logo {
	margin-right: 1rem;
}

#nav-title {
	font-family: "Courgette", cursive;
	font-size: 1.7rem;
}

#nav-list {
	white-space: nowrap;
	height: 100%;
}

.nav-list-item {
	display: inline-block;
	height: 100%;
}

.nav-link {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 1.2rem;
	font-size: 1.4rem;
	transition: background 0.2s;
}

.nav-link:hover {
	background: var(--banner-hover-blue);
}

/* ANCHOR main page intro */

#intro {
	background: url("assets/home/home-page-hug-dog.jpg") center/cover,
		var(--background-white);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	height: calc(100vh - 4.5rem);
}

#intro::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(21, 22, 22, 0.1);
}

#home-header {
	color: white;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	padding: 2rem 1rem;
	text-shadow: 1px 1px 10px rgb(49, 48, 48);
	z-index: 1;
	position: relative;
}

#home-main {
	margin: 4rem auto;
	text-align: center;
	z-index: 1;
}

.standard-button {
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem 1.3rem;
	border-radius: 8px;
	background: var(--button-pink);
	cursor: pointer;
	box-shadow: 0 3px 15px 0.5px rgba(21, 22, 22, 0.7);
	transition: background 0.2s;
}

.standard-button:hover {
	background: var(--button-hover-pink);
}

.standard-button:focus {
	border: 10px solid var(--background-white);
}

#home-footer {
	background: var(--footer-blue);
	color: var(--background-white);
	margin-top: auto;
}

/*ANCHOR homepage specifics*/
.nav-link.home {
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 8px;
}
