/* ANCHOR reset tags */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	color: var(--text-black);
}

body {
	background-color: var(--background-white);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	background: none;
	font-family: inherit;
}

footer {
	min-height: 7rem;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

/* ANCHOR main navigation */

#main-nav {
	background: var(--banner-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	height: 4.5rem;
	box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
}

#nav-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
}

.home-anchor {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-logo {
	margin-right: 2px;
	height: 50px;
	width: 50px;
}

#nav-title {
	font-family: "Courgette", cursive;
	font-size: 1.7rem;
}

#nav-list {
	white-space: nowrap;
	height: 100%;
}

.nav-list-item {
	display: inline-block;
	height: 100%;
	margin-left: -5px;
}

.nav-link {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 1.2rem;
	font-size: 1.4rem;
	transition: background 0.2s;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
	background: var(--banner-hover-blue);
}

.js-focus-visible .nav-link:focus:focus-visible {
	font-size: 1.7rem;
	transition: font-size 0.2s;
}

.hamburger {
	display: none;
	position: absolute;
	right: 0;
	z-index: 2;
	height: 100%;
	cursor: pointer;
}

.hamburger-icon {
	height: 35px;
	width: 35px;
	margin: 0 0.5rem;
}

.freeze {
	overflow: hidden;
}

.freeze #intro::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.479);
	z-index: 2;
}

@media (max-width: 580px) {
	#nav-header {
		width: 100%;
		justify-content: flex-start;
		background: var(--banner-blue);
		overflow: hidden;
		z-index: 1;
		height: 4.5rem;
	}

	#nav-list {
		position: absolute;
		width: 100%;
		top: 4.5rem;
		background: var(--background-white);
		transform: translateY(-100%);
		transform-origin: top;
		height: auto;
		overflow: hidden;
		z-index: 0;
	}

	.nav-list-item {
		display: block;
		margin: auto;
		height: 100%;
	}

	.nav-link {
		justify-content: center;
		height: 100%;
		padding: 0.5rem 0;
	}

	.hamburger {
		display: block;
	}

	.hamburger:hover,
	.hamburger:active,
	.js-focus-visible .hamburger:focus-visible {
		background: var(--banner-hover-blue);
	}

	#nav-list.menu-open {
		transform: translateY(0);
		box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.3);
	}

	#nav-list.transition {
		transition: transform 1s, box-shadow 1s;
	}
}

@media (max-width: 440px) {
	#home-title {
		font-size: 3rem;
	}
}

/*ANCHOR button*/
.standard-button {
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem 1.3rem;
	border-radius: 8px;
	background: var(--button-pink);
	cursor: pointer;
	box-shadow: 0 6px 8px -5px rgb(95, 93, 93);
	transition: background 0.2s;
	margin-bottom: 4rem;
}

.standard-button:hover,
.standard-button:active {
	background: var(--button-hover-pink);
}

.js-focus-visible .standard-button.focus-visible {
	outline: none;
	border: 10px white solid;
}

/*ANCHOR footer*/

#footer {
	background: var(--footer-blue);
	color: var(--background-white);
	margin-top: auto;
	display: flex;
	flex-direction: column;
	color: rgb(214, 214, 214);
	padding: 2rem 10rem;
}

#footer h2 {
	font-size: 1rem;
}

#footer p {
	font-size: 0.9rem;
	margin: 0.2rem 0;
}

.credits,
.disclaimer,
.attribute {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
	max-width: 50rem;
}

.credits a:hover,
.attribute a:hover {
	text-decoration: underline;
}

.attribute a::before {
	content: url("./assets/common/GitHub-Mark-Light-32px.png");
	margin: 0 5px;
	display: inline-block;
}

.attribute p {
	font-weight: bold;
}

@media (max-width: 850px) {
	#footer {
		padding: 2rem 5rem;
	}
}

@media (max-width: 500px) {
	#footer {
		padding: 2rem 2rem;
	}

	.credits,
	.disclaimer,
	.attribute {
		align-items: center;
	}
}
