/*TODO center the image-info-wrapper*/
/*TODO crop and compress the images*/
/*TODO create a fade in/slide in effect for the dog list as you scroll to them*/

:root {
	--banner-blue: #b9d9e0;
	--banner-hover-blue: #91b9c4;
	--text-blue: #377b8b;
	--background-white: #f7ede2;
	--button-pink: #f4acb7;
	--button-hover-pink: #ce9099;
	--text-black: #292525;
	--footer-blue: #161a1d;
}

#profile-main {
	padding: 4rem;
	padding-top: 2rem;
	margin: 4rem auto;
	width: 85%;
	max-width: 70rem;
	background: rgb(252, 250, 248);
	border-radius: 15px;
	border: 1px solid rgb(236, 232, 232);
	box-shadow: 0 0 20px rgb(214, 203, 203);
	position: relative;
}

.back {
	font-size: 1.3rem;
	color: rgb(121, 111, 111);
	position: relative;
	color: var(--text-blue);
	right: 3rem;
	font-weight: bold;
	bottom: 1rem;
	transition: color 0.1s;
}

.back::before {
	content: url(../../assets/common/left-arrow.png);
	position: relative;
	top: 0.3rem;
	right: 0.1rem;
}

.back:hover {
	color: var(--text-black);
}

.profile-header {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: rgb(58, 54, 54);
	text-shadow: 1px 1px 2px rgb(192, 187, 187);
	padding: 1rem 0 2rem 0;
	animation: slide-up 0.3s both;
}

.name {
	color: rgb(230, 119, 137);
}

.image-info-wrapper {
	margin: 0 1rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	animation: slide-up 0.3s 0.4s both;
}

.image-wrapper {
	margin: 0 1.5rem;
}

.dog-image {
	border-radius: 10px;
}

.about {
	margin: 0 1.5rem;
	font-size: 1.5rem;
	line-height: 2.3rem;
}

.about h1 {
	font-size: 2.5rem;
	background: rgb(252, 250, 248);
	padding: 0 1rem 1rem 0;
	color: var(--text-blue);
	position: relative;
	top: 2rem;
	display: inline-block;
}

.dog-info-list {
	padding: 2rem;
	border: 2px solid rgb(182, 179, 179);
}

.highlight {
	font-weight: bold;
}

.doginalities {
	margin: 2rem auto 4rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 60rem;
}

.doginalities h1 {
	color: var(--text-blue);
	text-align: center;
	font-size: 2.5rem;
}

.doginalities-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.8rem;
	padding-top: 1.5rem;
}

.doginalities-wrapper {
	display: flex;
	flex-direction: column;
}

.doginalities-item {
	line-height: 3rem;
}

.doginalities-item::before {
	content: url(../../assets/common/favicon.ico);
	position: relative;
	top: 0.7rem;
}

.button-wrapper {
	text-align: center;
}

/*ANCHOR animation classes*/
.hide {
	opacity: 0;
	transform: scale(0.95) translate(0, 50px);
}

.show {
	opacity: 1;
	transform: scale(1) translate(0, 0);
	transition: all 0.3s;
}


@keyframes slide-up {
	0% {
		opacity: 0;
		transform: scale(0.95) translate(0, 50px);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
}
