:root {
	--banner-blue: #b9d9e0;
	--banner-hover-blue: #91b9c4;
	--text-blue: #377b8b;
	--background-white: #f7ede2;
	--button-pink: #f4acb7;
	--button-hover-pink: #ce9099;
	--text-black: #292525;
	--footer-blue: #161a1d;
}

.nav-link.meet-our-dogs {
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 8px;
}

#profile-main {
	padding: 3rem;
	padding-bottom: 4rem;
	margin: 4rem auto;
	max-width: 65rem;
	width: 90%;
	background: rgb(255, 255, 255);
	border-radius: 15px;
	border: 1px solid rgb(236, 232, 232);
	box-shadow: 0 0 20px rgb(214, 203, 203);
	position: relative;
	animation: slide-up 0.8s both;
}

.back {
	font-size: 1.3rem;
	color: rgb(121, 111, 111);
	position: relative;
	color: var(--text-blue);
	right: 2rem;
	font-weight: bold;
	bottom: 1rem;
	transition: color 0.1s;
}

.back::before {
	content: url(../../assets/common/goback.png);
	position: relative;
	top: 0.3rem;
}

.back:hover {
	color: var(--text-black);
}

.profile-header {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: rgb(58, 54, 54);
	text-shadow: 1px 1px 2px rgb(192, 187, 187);
	padding: 1rem 0.5rem 2rem 0.5rem;
}

.name {
	color: rgb(230, 119, 137);
}

.image-info-wrapper {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.image-wrapper {
	margin: 0 1rem;
	max-width: 500px;
	overflow: hidden;
	position: relative;
}

.dog-image {
	border-radius: 10px;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	transition: transform 0.8s;
}

.dog-image.active {
	position: relative;
	z-index: 1;
}

.dog-image.prev {
	transform: translateX(-100%);
}

.dog-image.next {
	transform: translateX(100%);
}

.carousel-button {
	position: absolute;
	z-index: 2;
	top: 48%;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.2s;
	cursor: pointer;
}

.image-wrapper:hover > .carousel-button {
	opacity: 1;
}

.carousel-button:hover,
.js-focus-visible .carousel-button:focus-visible {
	background: rgba(255, 255, 255, 0.5);
}

.carousel-button img {
	opacity: 0.8;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}

.dots {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	text-align: center;
}

.carousel-button:hover {
	opacity: 1;
}

.dot {
	height: 15px;
	width: 15px;
	background: #ddd;
	margin: 0 5px;
	border-radius: 100%;
	box-shadow: inset 0 1px 1px 0 #999;
	display: inline-block;
}

.dot.active {
	background: linear-gradient(rgb(109, 109, 109), black);
	box-shadow: 0 1px 2px rgb(80, 77, 77);
}

.about {
	margin: 0 1rem;
	font-size: 1.5rem;
	line-height: 2.3rem;
}

.about h1 {
	font-size: 2.5rem;
	background: rgb(255, 255, 255);
	padding: 0 1rem 1rem 0;
	color: var(--text-blue);
	position: relative;
	top: 2rem;
	display: inline-block;
}

.dog-info-list {
	padding: 2rem;
	border: 2px solid rgb(182, 179, 179);
}

.highlight {
	font-weight: bold;
}

.doginalities {
	margin: 2rem auto 4rem auto;
	width: 90%;
	max-width: 60rem;
}

.doginalities h1 {
	color: var(--text-blue);
	text-align: center;
	font-size: 2.5rem;
}

.doginalities-list {
	font-size: 1.8rem;
	padding-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.doginalities-item {
	white-space:nowrap;
	min-width: 12rem;
	margin: 0.5rem;
}

.doginalities-item::before {
	content: url(../../assets/common/favicon.ico);
	position: relative;
	top: 0.7rem;
}

.button-wrapper {
	text-align: center;
}

/*ANCHOR animation classes*/
.hide {
	opacity: 0;
	transform: scale(0.95) translate(0, 50px);
}

.show {
	opacity: 1;
	transform: scale(1) translate(0, 0);
	transition: transform 0.5s, opacity 0.5s, background 0.3s;
}

.full-opacity {
	opacity: 1;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: scale(0.95) translate(0, 50px);
	}

	100% {
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
}

@media (max-width: 600px) {
	#profile-main {
		padding: 3rem 1rem 4rem 1rem;
		width: 95%;
	}

	.back {
		left: 0;
	}

	.profile-header {
		font-size: 3.5rem;
	}
}

@media (max-width: 580px) {
	.nav-link.meet-our-dogs {
		text-decoration: none;
	}
}

@media (max-width: 500px) {
	.profile-header {
		font-size: 3rem;
	}
}

@media (max-width: 400px) {
	#profile-main {
		padding: 2rem 0rem 4rem 0rem;
		width: 95%;
		margin: 2rem auto;
	}

	.profile-header {
		font-size: 2.5rem;
	}

	.about h1,
	.doginalities h1 {
		font-size: 2rem;
	}

	.adopt {
		font-size: 1.5rem;
	}

	.back {
		display: none;
	}
}
